html {
    height: 100%;
    background: #202025;
    width: 100%;
}
@font-face {
    font-family: "Franklin Gothic Demi";
    src: url('/static/websiteResources/FRADM.ttf');
}

#game {
    width: 1920px;
    height: 1080px;
    border: 1px solid white
}