{% extends "base.html" %}

{% block content %}
    <div class="aboutUs">
        <h1>About Us</h1>
        <p>We are a subsite of the FDM group that aims to educate and test our users in a fun and easily understood manner.
            We provide a learning environment for a wide range of new users, from veteran computer scientists to computer
            novices in order to help bridge the digital skill gap.</p>
        <br>
        <p>Team 42 is a team of 5 members from varying backgrounds that have come together to craft this app in order to
            teach the fundamentals of computer science.</p>
        <br>
        <p>Kyle Anderson | Erick Daleon | Elvis Robinson | Altan Ozkan | Jack Down</p>


    </div>
{% endblock %}