{% extends "base.html" %}

{% block content %}
        <table class="accountPage">
        <tbody>
            <tr>
                <th>Email</th>
                <th>{{ email }}</th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>{{ firstName }}</th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th>{{ lastName }}</th>
            </tr>
            <tr>
                <th>Phone Number</th>
                <th>{{ phoneNumber }}</th>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <th>{{ dateOfBirth }}</th>
            </tr>
            <tr>
                <th>Education Level</th>
                <th>{{ educationLevel }}</th>
            </tr>
            <tr>
                <th>Previously Studied Computer Science</th>
                <th>{{ takeCS }}</th>
            </tr>
        </tbody>
        </table>
        {% if current_user.is_authenticated and current_user.role=='user'%}
            <a href="{{ url_for('users.accountUpdate') }}" class="updateAccountButton">Update Account</a>
        {% endif %}
{% endblock %}