<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="'utf-8">
    <title>FDM Gamified Web Application</title>
    <link rel="stylesheet" href="../websiteResources/base.css" />
</head>

<body>

    <div class="navbar">
            <a href="index.html" class="navbarItem">Home</a>
            <a href="account.html" class="navbarItem">Account</a>
            <a href="learningResources.html" class="navbarItem">Learning Resources</a>
            <a href="admin.html" class="navbarItem">Admin</a>
            <a href="" style="float: right" class="navbarItem">Logout</a>
        </ul>
    </div>

    <section class="bottomBar">
        <div class = fdmInfo>
            <a href="aboutUs.html">About Us</a>
            <li>Placeholder for phone number</li>
            <li>Placeholder for email</li>
        </div>
        <div class = fdmSocials>
            <a href="https://www.linkedin.com/company/fdm-group" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="https://www.facebook.com/FDMGroup/" target="_blank" rel="noopener noreferrer">Facebook</a>
            <a href="https://twitter.com/FDMGroup" target="_blank" rel="noopener noreferrer">Twitter</a>
            <a href="https://www.youtube.com/user/FDMGroupVideos" target="_blank" rel="noopener noreferrer">Youtube</a>
        </div>
    </section>
</body>