<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="'utf-8">
    <title>FDM Gamified Web Application</title>
    <link rel="stylesheet" href="../static/websiteResources/base.css" />
</head>

<body>

    <div class="navbar">
        <div class = "navbarItem">
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_authenticated and current_user.role=='user'%}
                <a href="{{ url_for('users.account') }}">Account</a>
            {% endif %}
            <div class="dropDownButton">
                {% if current_user.is_authenticated and current_user.role=='user'%}
                    <a href="{{ url_for('users.learningResources') }}">Learning Resources</a>
                        <div class="dropdown-content">
                            <a href="../static/websiteResources/Asteroid.html">Asteroid Game</a>
                        <a href="../static/websiteResources/Quiz_Main.html">Quiz</a>
                        </div>
                {% endif %}
            </div>
            {% if current_user.is_authenticated and current_user.role=='admin'%}
                <a href="{{ url_for('admin.admin') }}">Security logs</a>
            {% endif %}
            {% if current_user.is_authenticated and current_user.role=='user'%}
                <a href="{{ url_for('users.leaderboard') }}">Leaderboard</a>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('users.login') }}">Login</a>
                <a href="{{ url_for('users.register') }}">Register</a>
            {% endif %}
            {% if current_user.is_authenticated%}
                <a href="{{ url_for('users.logout') }}" style="float: right; border-left: 1px solid #000000; border-right: 0;">Logout</a>
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <container class="bottomBar">

        <div class = fdmInfo>
            <a href="{{ url_for('aboutUs') }}">About Us</a>
            <li>Placeholder for phone number</li>
            <li>Placeholder for email</li>
        </div>

        <div class = fdmSocials>
            <a href="https://www.linkedin.com/company/fdm-group" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="https://www.facebook.com/FDMGroup/" target="_blank" rel="noopener noreferrer">Facebook</a>
            <a href="https://twitter.com/FDMGroup" target="_blank" rel="noopener noreferrer">Twitter</a>
            <a href="https://www.youtube.com/user/FDMGroupVideos" target="_blank" rel="noopener noreferrer">Youtube</a>
        </div>
    </container>
</body>