{% extends "base.html" %}

{% block content %}
    <div class="forms">
        <h1>Register</h1>
        <form method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="errorMessage">
                        {{ messages[0] }}. Go to <a href="{{ url_for('users.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}
            {{ form.csrf_token }}
            {{ form.firstName(class="inputs", placeholder="First Name") }}
            {{ form.lastName(class="inputs", placeholder="Last Name") }}
            {{ form.email(class="inputs", placeholder="Email") }}
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
            {{ form.phone(class="inputs", placeholder="Phone Number") }}
            {{ form.dob(class="inputs", placeholder="Date of Birth") }}
            {{ form.password(class="inputs", placeholder="Password") }}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            {{ form.confirmPassword(class="inputs", placeholder="Confirm Password") }}
            {% for error in form.confirmPassword.errors %}
                {{ error }}
            {% endfor %}
            <p>Highest Education Level</p>
            {{ form.educationLevel(class="inputs", placeholder="Education Level") }}
            <p>Have you Previously Studied Computer Science</p>
            {{ form.studiedCompSci(class="inputs", placeholder="Have you Previously Studied Computer Science") }}
            {{ form.submit(class="submitButton") }}
        </form>
    </div>
{% endblock %}